<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
    <div class="col12 col-lg-6">
        <img src = "/img/hero-image.png" width="607" height="510" class = "d-block mx-lg-auto img-fluid" loading="lazy" alt = "Free ROM classic games sharing with node.js">
    </div>
    <div class = "col-12 col-lg-6">
        <h1 class="display-5 fw-bold mb-3"> Welcome! this is a place to share and download classic Games ROM files </h1>
        <p class="lead">
            Explore hundreds of classic console game ROM such as NES, SNES, MSX, FAMICOM, PlayStation 1 and much more, you can also upload your own game ROMS to the community!
          </p>

    </div>

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href="/explore-latest" class="btn btn-primary btn-dark btn-lg px-4 me-md-2">Explore the Latest Uploads</a>
        <a href="/explore-random" class="btn btn-outline-secondary btn-lg px-4 me-md-2">Show Random</a>
      </div>

</div>