<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">Submit Your Game</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead">
      Share your ROM classic game files with thousands of gamers across the
      world. Fill the form below to get started.
    </p>
  </div>
</div>

<div class="row justify-content-center">
  <% if (Array.isArray(infoSubmitObj) && infoSubmitObj.length > 0) { %>
    <div class="col-8 alert alert-success" role="alert"><%= infoSubmitObj[0] %></div>
  <% } %>

  <% if (Array.isArray(infoErrorsObj) && infoErrorsObj.length > 0) { %>
    <div class="col-8 alert alert-danger" role="alert">
      <%= infoErrorsObj[0] %>
    </div>
  <% } %>

  <div class="col-8">
    <form action="/submit-game" enctype="multipart/form-data" method="POST">
      <div class="row g-3">
        <div class="col-12">
          <label for="shared_by" class="form-label">Your Name (optional)</label>
          <input type="text" name="shared_by" id="shared_by" class="form-control" />
        </div>

        <div class="col-12">
          <label for="name" class="form-label">Game Title</label>
          <input type="text" name="name" id="name" class="form-control" required />
        </div>

        <div class="col-12">
          <label for="description" class="form-label">Description</label>
          <textarea
            name="description"
            id="description"
            class="form-control"
            cols="30"
            rows="4"
            required
          ></textarea>
        </div>

        <div class="col-12">
          <label for="category">Select Category</label>
          <select class="form-select form-control" name="category" id="category" aria-label="Category" required>
            <option value="" selected disabled>Select Platform</option>
            <option value="MSX">MSX</option>
            <option value="Mega Drive">Mega Drive</option>
            <option value="PSP">PSP</option>
            <option value="PlayStation">PlayStation</option>
            <option value="MSX-2">MSX-2</option>
            <option value="Microsoft DOS">Microsoft DOS</option>
          </select>
        </div>

        <div class="col-12">
          <label for="image">Game Cover</label>
          <input
            type="file"
            class="form-control"
            name="image"
            id="image"
            accept="image/*"
            required
          />
        </div>

        <div class="col-12">
          <button type="submit" class="btn btn-primary">Upload Game</button>
        </div>
      </div>
    </form>
  </div>
</div>
